.movie-content {
  @include container;

  .movies-now,
  .movies-later {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: $background-color;
    .img-div {
      width: 350px;
      height: 600px;
      margin: 0 auto;

      img {
        width: 90%;
        height: 98%;
        object-fit: cover;
        margin: 1rem auto;
        display: block;
        border-radius: 5px;
      }
    }
  }
}

.movies {
  background-color: $container-color;
  margin: 1rem;
  border-radius: 5px;

  a {
    position: relative;
    margin-left: 1.25rem;
    bottom: 0.25rem;
    color: $text-color;
    font-weight: 500;
  }
}

.heading-1,
.heading-2 {
  margin: 1rem;
}

@media (max-width: $bp-medium) {
  .heading-1,
  .heading-2 {
    text-align: center;
  }
}
