.review-form {
    display: none;
    padding: 1em;
    background-color: $container-color;

    &.show {
        display: block;
    }

    h3 {
        font-size: .7rem;
    }

    .rating {
        float: left;
    }

    .rating:not(:checked)>input {
        display: none;
    }

    .rating:not(:checked)>label {
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 1.5rem;
        color: #ccc;
    }

    .rating:not(:checked)>label:before {
        content: '★ ';
    }

    .rating>input:checked~label {
        color: #ffc700;
    }

    .rating:not(:checked)>label:hover,
    .rating:not(:checked)>label:hover~label {
        color: #deb217;
    }

    .rating>input:checked+label:hover,
    .rating>input:checked+label:hover~label,
    .rating>input:checked~label:hover,
    .rating>input:checked~label:hover~label,
    .rating>label:hover~input:checked~label {
        color: #c59b08;
    }

    button {
        display: block;
    }
}

svg {
    stroke-width: 5;
    fill: #F6831D;
}
