.screening-times {
    background-color: $container-color;
    border-radius: 5px;
    margin: 0 auto;
    
    h2{
        text-align: center;
        font-size: 30px;
        padding-top: 20px;
        margin: 0;
    }

    ul{
        background-color: $container-color;
        border-radius: 5px;
        margin: 0;

        li {
            border: 3px outset $background-color;
            border-radius: 5px;
            height: 2vh;
            margin: 0.2em;
            
        }
        
        li:hover {
            border: 3px inset $text-color;
            cursor: pointer;
            color: $background-color;
            background-color: $text-color;
        }

    }
}