<div class="movie-container">
  <div class="images-parent">
    <div class="img-container">
      <img src="{{movie.attributes.image.url}}"/>
    </div>
  </div>

  <div class="text-container">
    <h1>{{movie.attributes.title}}</h1>
    <p>{{{ markdown movie.attributes.intro }}}</p>
  </div>


  <button class="review-form-toggle" id="review-form-toggle">Add Review</button>
  
  <form class="review-form show" name="review-form" action="">
    <h2>Din Recension</h2>
  
    <section class="review-rating">
      <h3>Ditt Betyg</h3>
      <ul class="stars">
        <li class="star solid"></li>
        <li class="star half"></li>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star"></li>
      </ul>
    </section>
  
    <section class="review-details">
      <h3>Ditt namn</h3>
      <input type="text" class="review-form__author" placeholder="Skriv ditt namn här">
    </section>
  
    <section class="review-comment">
      <textarea class="review-form__comment" name="review-comment" placeholder="Skriv din kommentar här (valfri)" cols="30" rows="10"></textarea>
      <small>Max antal tecken: 600</small>
    </section>

    <button type="submit">Submit</button>
  </form>
</div>