<div class="movie-container">
  <div class="images-parent">
    <div class="img-container">
      <img src="{{movie.attributes.image.url}}"/>
    </div>
  </div>

  <div class="text-container">
    <h1>{{movie.attributes.title}}</h1>
    <p>{{{ markdown movie.attributes.intro }}}</p>
  </div>
  
</div>