<section id="content-text tickets" class="content-text tickets">
  <h2>BILJETTINFO</h2>
  <p>
    Biljetter finns att köpa på Sundsvallspegelns hemsida eller i kassan på
    plats.
  </p>
</section>

<section class="content-text tickets">
  <h2>FRÅGOR & SVAR</h2>
  <h3>HUR KÖPER JAG BILJETTER PÅ HEMSIDAN?</h3>
  <p>
    Betalningen på hemsidan sker antingen med ett betalkort eller presentkort,
    det går endast att använda ett betalsätt per köp. Vid köp via hemsidan
    skickas en bokningsbekräftelse via mail. Vid försäljning av biljetter gäller
    endast direktköp.
  </p>
  <br />
  <h3>VARFÖR HAR JAG INTE FÅTT EN BOKNINGSBEKRÄFTELSE?</h3>
  <p>
    Ibland hamnar bekräftelsemailet i mottagarens skräppost. Om du märker att du
    inte får någon bokningsbekräftelse på dina köp, kan du godkänna vår
    mejladress som vi skickar bekräftelsen ifrån via din mejl.
  </p>
  <br />
  <h3>VARFÖR FUNGERAR DET INTE ATT KÖPA BILJETT PÅ HEMSIDAN?</h3>
  <p>
    Vi har märkt att det kan vara problem att köpa biljetter med webbläsaren
    Explorer. Andra webbläsare ska fungera fint. Har du ett Nordea-kort kan du
    behöva kontakta din bank för att låsa upp ditt kort för internetköp.
  </p>
  <br />
  <h3>TAR NI EMOT FILMSTADEN-BILJETTER?</h3>
  <p>Nej, då vi inte är en del av deras koncern.</p>
</section>

<section class="content-text tickets">
  <h2>BILJETT MED MAT OCH DRYCK</h2>
  <p>
    Du kan beställa från vår meny i samband med ditt biljettköp via hemsidan
    eller på biografen. Vid förköp serveras maten inför filmstart, men du kan
    även enkelt beställa mat och dryck under filmen. Alla våra tre salonger är
    serverade och har en bar som bemannas kontinuerligt, vilket betyder att du
    får avnjuta god mat och dryck tillsammans med din film!
  </p>
</section>

<section class="content-text tickets">
  <h2>MATINÉBILJETT</h2>
  <p>
    Vår Matinébiljett kostar 100 kronor (ordinarie pris 150 kronor) och gäller
    på visningar klockan 14-15 måndag till fredag. Biljetterna bokas som vanligt
    på respektive filmsida här på hemsidan. Du kan även köpa din matinébiljett i
    kassan på biografen.
  </p>
</section>

<section class="content-text tickets">
  <h2>ÅTERKÖP OCH BYTEN</h2>
  <p>
    Biljetter till ordinarie repertoarfilm: Det går bra att göra återköp eller
    byta biljetterna till en annan visning eller en annan repetoarfilm senast 24
    timmar innan filmen börjar. Återköp och byten av repertoarbiljetter görs
    endast på biografen.
    <br />
    Live på bio: Vi har inga återköp på Live på bio-biljetter, men du kan byta
    till annan föreställning inom respektive genre med samma biljettpris:
    Met-opera kan till exempel bytas till annan Met-opera. Saknas det visningar
    inom genren går det inte att byta. Bytet görs endast på biografen senast 72
    timmar innan visningen börjar.
    <br />
    Specialvisningar: Vi har inga återköp på biljetter till specialvisningar,
    men det går bra att byta biljetten till en annan specialvisning inom
    respektivie genre med samma biljettpris: Frukostbio kan till exempel bytas
    till en annan frukostbio. Saknas det visningar inom genren går det inte att
    byta. Bytet görs endast på biografen 72 timmar innan filmen börjar.
  </p>
</section>

<section class="content-text tickets">
  <h2>BILJETTSLÄPP OCH KOMMANDE PREMIÄRER</h2>
  <p>
    Varje måndag efter lunch släpper vi biljetter till allt som ska visas på
    Spegeln den kommande bioveckan (fre-tors). Biljetterna till
    specialvisningarna och Live på bio släpper vi däremot löpande. Aktuellt
    program hittar du alltid på vår hemsida.
  </p>
</section>

<section class="content-text tickets">
  <h2>TILLGÄNGLIGHET</h2>
  <p>
    Biografen är utrustad med rullstolshiss och samtliga salonger har
    rullstolsplatser. Maxvikt för rullstolshissen är 200 kg. Vid högre vikt,
    vänligen kontakta oss på info@sundsvallspegeln.se minst en dag innan ditt
    besök. Vi hjälper gärna till.
  </p>
</section>

<section class="content-text tickets">
  <h2>ÅLDERSGRÄNSER</h2>
  <p>
    7 år: Filmer med 7-årsgräns kan även ses av yungre barn i vuxet sällskap.
  </p>
  <p>
    11 år: Filmer med 11-årsgräns kan även ses av barn från 7 år i vuxet
    sällskap.
  </p>
  <p>
    15 år: Filmer med 15-årsgräns kan även ses av barn från 7 år i vuxet
    sällskap.
  </p>
</section>

<section class="content-text tickets">
  <h2>SPEGELNS PRESENTKORT</h2>
  <p>
    Vi säljer presentkort på valfritt belopp som gäller på alla visningar och i
    vår bar/bistro.
  </p>
  <p>
    Lös in presentkortet genom att välja film och dag, klicka på biljetter, välj
    platser, fyll i din mejladress två gånger och godkänn villkoren. Välj sedan
    "Betala med presentkort" som betalningsmetod. Fyll därefter i presentkortets
    nummer (sexsiffrig kod under streckkoden) samt din fyrsiffriga PIN-kod.
  </p>
</section>
