@mixin centerContent(){
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin direction($direction){
    flex-direction: $direction;
}
@mixin centerColumn(){
    display: flex;
    justify-content: center;
}
@mixin wrap(){
    display: flex;
    flex-wrap: wrap;
}

@mixin container() {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

section{
    @include centerColumn();
    @include direction(column);
    h2{
        text-align: center
    }
    ul{
        @include wrap();
        @include centerContent();
        padding: 0px;
        margin: 0%;
        height: 100%;
        width: 100%;
        div{
            margin: 0.1%;
            border-radius: 4px;
            @include centerContent();
            @include direction(column);
            width: 20em;
            height: 25em;
            background-color: $container-color;
            h3{
                background-color: $button-color;
                border-radius: 8px;
                margin: 3%;
            }
            img{
                margin: 3%;
            }
        }
    }
}
.comming-soon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
        div{
            margin: 1%;
            border-radius: 4px;
            @include centerContent();
            @include direction(column);
            width: 6em;
            background-color: $container-color;
            border: 4px solid $background-color;
            h3{
                background-color: $button-color;
                border-radius: 8px;
                margin: 3%;
                font-size: .8em;
            }
            div{
                border: none;
                width: 4em;
                height: 7em;
                background-color: white;
                margin: 3%;
            }
        }
}
.visningstider{
    background-color: $container-color;
    border: .2em solid $background-color;
    width: 90%;
    margin: 4.5%;
    h2{
        text-align: center;

    }
}
ul, menu {
    list-style: none;
}

a {
    color: $text-color;
    text-decoration: none;

    &:hover {
        filter: brightness(150%);
    }
}

button {
    cursor: pointer;

    &:hover {
        filter: brightness(150%);
    }
}
