

@import 'variables.scss';
@import 'misc.scss';

body, html{
    margin: 0%;
    width: 100vw;
    height: 100vh;
    background-color: $background-color;
    color: $text-color;

}



* {
    font-family: sans-serif;

    @media (min-width: $bp-large) {
        font-size: 24px;
    }
}

@import 'sections/header.scss';
@import 'sections/mainNav.scss';
@import 'sections/sidebarNav.scss';
@import 'sections/moviePage.scss';
@import 'sections/movies.scss';
@import 'sections/content.scss';

